@charset "UTF-8";
#productWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr 2.1fr;
  grid-template-rows: 2.5fr 0.1fr 1fr;
  gap: 0px 0px;
	width: 1000px;	
	height: 1000px;
	margin: auto;
	overflow: hidden;
  grid-template-areas:
    "photoWrapper photoWrapper . priceWrapper"
    ". . . ."
    "descWrapper descWrapper descWrapper descWrapper";
}
#descWrapper { grid-area: descWrapper; }
#photoWrapper { grid-area: photoWrapper; }
#priceWrapper { grid-area: priceWrapper; }